{% extends 'baseusuario.html' %}

{% block content %}
<style>

    .sidebar ul li.administrar1 {
        color: #dee2e6;
        background-color: #6c757d;
        border-radius: 0px;
    }
</style>
    <div class="container text-center ">
        <h2 class="text-center display-4 py-4 mt-5">Admin Panel</h2>

        <div class="row">
            <div class="col-md-4">
                <a href="/administrar/usuarios" class="btn btn-primary btn-block">Administrar Usuarios</a>
            </div>
            <div class="col-md-4">
                <a href="/administrar/grupos" class="btn btn-primary btn-block">Administrar Grupos</a>
            </div>
            <div class="col-md-4">
                <a href="/administrar/logs" class="btn btn-primary btn-block">Administrar Archivos</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <a href="/admin" class="btn btn-primary btn-block">Administración Django</a>
            </div>
            <div class="col-md-4">
                <a href="/administrar/reportes" class="btn btn-primary btn-block">Logs</a>
            </div>

        </div>
    </div>
{% endblock %}
