{% extends 'baseusuario.html' %}
{% block content %}

<style>
    /* Estilos para el contenedor del cuadro de entrada */
    .custom-file-container {
        width: 725px; /* Ancho del contenedor */
        height: 300px; /* Altura del contenedor */
        background-color: white; /* Fondo blanco */
        border: 2px solid #ccc; /* Borde sólido */
        border-radius: 10px; /* Bordes redondeados */
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-direction: column;
        margin-bottom: 20px; /* Espacio entre el formulario y el panel de información */
    }

    /* Estilos para el cuadro de entrada */
    .custom-file-input {
        width: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    /* Estilo para el texto dentro del contenedor */
    .custom-file-label {
        color: #888;
        cursor: pointer;
    }

    /* Estilo para el símbolo de suma */
    .custom-file-add {
        color: #007bff;
        font-size: 50px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    /* Estilo para el texto debajo del símbolo de suma */
    .custom-file-addd {
        font-size: 14px;
        color: #888;
    }

    /* Estilo para resaltar el área de soltar */
    .dragover {
        background-color: rgba(0, 123, 255, 0.1);
        border-color: #007bff;
    }

    /* Estilo para la lista de archivos seleccionados */
    .file-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .file-list-item {
        margin-bottom: 5px;
    }

    /* Estilos para el panel de información */
    .info-panel {
        margin-top: 30px;
        background-color: #f8f9fa; /* Color de fondo */
        border: 1px solid #ccc; /* Borde sólido */
        border-radius: 10px; /* Bordes redondeados */
        padding: 20px; /* Espaciado interno */
    }
    .file-list {
        list-style: none;
        padding: 10px; /* Añade un poco de espacio interno */
        margin: 0;
        background-color: white; /* Fondo blanco */
        border: 2px solid #ccc; /* Borde sólido */
        border-radius: 5px; /* Bordes redondeados */
        max-height: 200px; /* Altura máxima de la lista */
        overflow-y: auto; /* Añade desplazamiento vertical si hay demasiados archivos */
    }

    .file-list-item {
        margin-bottom: 5px;
    }
</style>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5">
            <h2 class="text-center display-4 py-4">Análisis de Archivos</h2>
    
            <form id="archivoForm" action="{% url 'archivos_analiz' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label class="custom-file-container" ondragover="dragOver(event)" ondragleave="dragLeave(event)" ondrop="drop(event)">
                    <input type="file" class="custom-file-input" id="archivos" name="archivos"  maxlength="120000000" multiple>
                    <span class="custom-file-add">+</span>
                    <span class="custom-file-addd">Selecciona o Arrastra Archivos</span>
                </label>
                <ul class="file-list" id="fileList">Archivos Seleccionados</ul>
                <button id="analizarBtn" type="submit" class="btn btn-primary mt-3">Analizar</button>
            </form>
        </div>
    </div>
</div>

<!-- Panel de Información -->
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="info-panel">
                <h4>Información</h4>
                <p>Aquí puedes encontrar información importante relacionada con el análisis de archivos.</p>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('archivoForm').addEventListener('submit', function() {
        document.getElementById('analizarBtn').setAttribute('disabled', 'disabled');
    });

    function dragOver(event) {
        event.preventDefault();
        event.currentTarget.classList.add('dragover');
    }

    function dragLeave(event) {
        event.preventDefault();
        event.currentTarget.classList.remove('dragover');
    }

    function drop(event) {
        event.preventDefault();
        event.currentTarget.classList.remove('dragover');
        const files = event.dataTransfer.files;
        document.getElementById('archivos').files = files;
        displayFileList(files);
    }

    function displayFileList(files) {
        const fileList = document.getElementById('fileList');
        fileList.innerHTML = '';
        for (let i = 0; i < files.length; i++) {
            const listItem = document.createElement('li');
            listItem.textContent = files[i].name;
            listItem.classList.add('file-list-item');
            fileList.appendChild(listItem);
        }
    }

    document.getElementById('archivos').addEventListener('change', function() {
        displayFileList(this.files);
    });
</script>

</body>

{% endblock %}
