{% extends 'baseusuario.html' %}

{% block content %}

<style>
    .sidebar ul li.misgrupos1 {
        color: #dee2e6;
        background-color: #6c757d;
        border-radius: 0px;
    }
    
    .btn-download {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        border: none;
        color: #fff;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border-radius: 5px; /* Square corners */
        transition: background-color 0.3s;
    }

    .btn-download:hover {
        background-color: #0056b3;
    }
</style>

<h1 class="text-center display-4 py-4 mt-5">{{ group_name }}</h1>
<div class="col-md-8">
    <div class="card-body">
        <ul class="list-group">
        <a href="/grupos/" class="btn btn-secondary mb-3">Volver</a>

        {% for compartido in archivos_compartidos_al_grupo %}
            {% if group == compartido.grupo_destinatario %}

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">{{ compartido.archivo.nombre_archivo }}</h5>
                        <p class="card-text">Compartido por: <strong>{{ compartido.usuario_propietario.username }}</strong></p>
                        <a href="{% url 'descargar_archivo_grupo' group_name=group_name archivo_id=compartido.archivo.id %}" class="btn btn-info btn-download" download>Descargar</a>
                    </div>
                </div>
                <br>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
