{% extends 'base.html' %}

{% block content %}

    <main class="container py-5">

        <section class="hero-section">
            <div class="hero">
              <h2>Proyecto Asix 2024</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum magni nihil beatae sint incidunt harum animi quis, ab expedita delectus, quod eligendi inventore. In libero sint velit incidunt, facilis commodi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, consectetur, eius laborum totam voluptatem deleniti commodi earum dolor explicabo, non quo incidunt a ducimus optio culpa ratione veritatis et dignissimos.

              </p>
              
              <div class="buttons">
                <a href="/signin" class="join">Join Now</a>
                <a href="/about" class="learn">Learn More</a>
              </div>
            </div>
            <div class="img">
              <img src="https://static.vecteezy.com/system/resources/previews/023/258/496/non_2x/digital-data-protection-design-illustration-cyber-security-illustration-background-cloud-computing-network-safety-concept-free-png.png" alt="hero image" />
            </div>
          </section>

    </main>

{% endblock %}
