{% extends 'baseusuario.html' %}
{% block content %}
{% load static %}

<style>
  .dark-mode .sidebar ul li.perfil {
      background-color: #b2dafa;
      border-radius: 0px;
  }
        .sidebar ul li.analizar2 {
          background-color: #007bff33;
          border-left: 5px solid rgb(0, 89, 172);
          color: #fff;
    }
        body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 2rem 1rem;
        margin: 5rem auto !important;
        margin-top: 200px;
        color: #fff;
        background-color: #0F0F0F;
    }
    .btn-cuadrado {
      display: block;
      width: 100%;
      max-width: 400px;
      height: auto;
      padding: 2.2rem;
      margin: 2.5rem auto;
      border-radius: 10px;

      text-align: center;
      font-size: 1.6rem;
      font-weight: bold;
      color: #00aaff;
      background: linear-gradient(145deg, #121212, #1e1e1e);
      box-shadow: 0 0 13px rgba(0, 170, 255, 0.521);
      text-decoration: none;
      transition: background-color 0.3s, transform 0.2s;
  
    }

    .btn-cuadrado:hover {
      background-color: #00cfff22;
      transform: scale(1.02);
      text-decoration: none;
    }

  

  .btn-cuadrado:hover {
    background-color: #12171d;
  }

  .contenedor-botones {
    text-align: center;
    margin-top: 50px;
  }
</style>

<div class="contenedor-botones">

  <a href="{% url 'proyectos' %}" class="btn-cuadrado">
        <i class="fab fa-github" style="margin-right: 7px; color: white !important;"></i>

    Analisis de código
  </a>

  {% if user.is_superuser %}

    <a href="{% url 'proyectoanaliz' %}" class="btn-cuadrado">
                            <img src="https://i.ibb.co/XktgCTmT/morgana-1-removebg-preview.png" style="width: 30px; height: 30px;" alt="Logo">

      Analisis proyecto
    </a>
  {% endif %}
  <a href="{% url 'proyecto-selección' %}" class="btn-cuadrado">
    Próximamente...
  </a>


</div>

{% endblock %}
